@use "sass:color"

$base: #133c63
$active: color.adjust($base, $green: 20%)
$base-lighter: color.adjust($base, $lightness: 20%)
$shadow-color: rgba(0, 0, 0, 0.5)
$invalid: color.adjust($base, $red: 20%)
$font: Verdana, Geneva, Tahoma, sans-serif
$focus-outline: 0px 0px 3px 1px #26c23b